<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="contacts__title">Контакты</h2>
    <div class="contacts__wrapper-list-time">
      <ul class="contacts__list">
        <li class="contacts__item">
          <a class="contacts__box-svg" href="#">
            <svg id=" " width="24" height="24">
              <use href="./src/assets/symbol-defs.svg#map-pin"></use>
            </svg>
            <span class="contacts__item-text"
              >ул. Васильковая, 7А, Киев, 08132</span
            >
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__box-svg" href="tel:+380441111111">
            <svg id=" " width="24" height="24">
              <use href="./src/assets/symbol-defs.svg#phone"></use>
            </svg>
            <span class="contacts__item-text">+38 044 111 11 11</span>
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__box-svg" href="mailto:barbershop@email.com">
            <svg id=" " width="24" height="24">
              <use href="./src/assets/symbol-defs.svg#mail"></use>
            </svg>
            <span class="contacts__item-text">barbershop@email.com</span>
          </a>
        </li>
      </ul>
      <div class="contacts__wrapper-time">
        <div class="contacts__wrapper-decor-bar">
          <div class="decor-bar contacts__decor-bar"></div>
          <h3 class="contacts__time-text">время работы</h3>
        </div>
        <p class="contacts__time-working">Ежедневно с 9:00 до 22:00</p>
      </div>
    </div>
  </div>
</section>
