<section class="hero">
  <div class="container hero__container">
    <aside class="hero__aside">
      <div class="hero__wrapper-social-media">
        <div class="decor-bar hero__aside-decor-bar"></div>
        <a href="#" class="hero__link">Instagram</a>
        <a href="#" class="hero__link">Youtube</a>
      </div>
    </aside>
    <div class="hero__background hero__background-slide-1" data-num="1"></div>
    <div class="hero__background hero__background-slide-2" data-num="2"></div>
    <div class="hero__background hero__background-slide-3" data-num="3"></div>
    <div class="hero__wrapper-main-bg">
      <div class="hero__wrapper-decor-bar-header">
        <div class="decor-bar hero__decor-bar"></div>
        <h1 class="hero__header">A hair salon for men in Kyiv</h1>
      </div>
      <h2 class="hero__title">BarberShop</h2>
      <p class="hero__decsription">
        Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
        вкусом.
      </p>
      <div class="sliderIndicator">
        <div class="sliderIndicator-strip active" data-num="1"></div>
        <div class="sliderIndicator-strip" data-num="2"></div>
        <div class="sliderIndicator-strip" data-num="3"></div>
      </div>
      <div class="hero__wrapper-slider-nav">
        <div class="hero__wrapper-slider-nav-btn">
          <button
            id="slider-nav-btn_left"
            type="button"
            class="hero__slider-nav-btn"
          >
            Назад
          </button>
          <div class="decor-bar hero__decor-bar-slider-nav-btn_left"></div>
        </div>
        <div class="hero__wrapper-slider-nav-btn">
          <button
            id="slider-nav-btn_right"
            type="button"
            class="hero__slider-nav-btn"
          >
            Вперед
          </button>
          <div class="decor-bar hero__decor-bar-slider-nav-btn_right"></div>
        </div>
      </div>
    </div>
  </div>
</section>
