<section class="hero">
  <div class="container hero__container">
    <aside class="hero__aside">
      <div class="hero__wrapper-social-media">
        <div class="decor-bar decor-bar--aside"></div>
        <a href="#" class="hero__link">Instagram</a>
        <a href="#" class="hero__link">Youtube</a>
      </div>
    </aside>
    <div class="hero__background hero__background-slide-1" data-num="1"></div>
    <div class="hero__background hero__background-slide-2" data-num="2"></div>
    <div class="hero__background hero__background-slide-3" data-num="3"></div>
    <div class="hero__wrapper-main-bg">
      <div class="hero__wrapper-decor-bar-title">
        <div class="decor-bar decor-bar--hero"></div>
        <p class="hero__text">A hair salon for men in Kyiv</p>
      </div>
      <h1 class="hero__title">BarberShop</h1>
      <p class="hero__decsription">
        Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
        вкусом.
      </p>
    </div>
  </div>
</section>
