<section class="masters" id="masters">
  <div class="container masters__container">
    <div class="masters__wrapper-decor-bar-header">
      <div class="decor-bar masters__decor-bar"></div>
      <h2 class="masters__header">для настоящих ценителей атмосферы</h2>
    </div>
    <h3 class="masters__title">Наши мастера</h3>
    <div class="masters__wrapper">
      <div class="masters__wrapper-card">
        <img
          src="src/assets/masters-mob-img1@1x.jpg"
          alt="John Smith"
          srcset="
            src/assets/masters-mob-img1@1x.jpg 418w,
            src/assets/masters-mob-img1@2x.jpg 836w
          "
          sizes=" (min-width: 1280px) 370px, (min-width: 650px) 600px, 90vw"
          class="masters__card-img masters__card-img--1"
        />
        <p class="masters__card-name">John Smith</p>
        <p class="masters__card-text">Extreme Barber</p>
        <ul class="masters__wrapper-card-svg">
          <li>
            <a class="masters__box-svg" href="#">
              <svg id="instagram " width="20" height="20">
                <use href="./src/assets/symbol-defs.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="masters__box-svg" href="#">
              <svg id="twitter" width="20" height="20">
                <use href="./src/assets/symbol-defs.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="masters__box-svg" href="#">
              <svg id="facebook" width="20" height="20">
                <use href="./src/assets/symbol-defs.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="masters__box-svg" href="#">
              <svg id="linkedin" width="20" height="20">
                <use href="./src/assets/symbol-defs.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="masters__wrapper-card">
        <img
          src="src/assets/masters-mob-img2@1x.jpg"
          alt="Michele Doe"
          srcset="
            src/assets/masters-mob-img2@1x.jpg 418w,
            src/assets/masters-mob-img2@2x.jpg 836w
          "
          sizes="(min-width: 1280px) 370px, (min-width: 650px) 600px, 90vw"
          class="masters__card-img masters__card-img--2"
        />
        <p class="masters__card-name">Michele Doe</p>
        <p class="masters__card-text">Extreme Barber</p>
        <ul class="masters__wrapper-card-svg">
          <li>
            <a class="masters__box-svg" href="#">
              <svg id="instagram " width="20" height="20">
                <use href="./src/assets/symbol-defs.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="masters__box-svg" href="#">
              <svg id="twitter" width="20" height="20">
                <use href="./src/assets/symbol-defs.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="masters__box-svg" href="#">
              <svg id="facebook" width="20" height="20">
                <use href="./src/assets/symbol-defs.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="masters__box-svg" href="#">
              <svg id="linkedin" width="20" height="20">
                <use href="./src/assets/symbol-defs.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="masters__wrapper-card">
        <img
          src="src/assets/masters-mob-img3@1x.jpg"
          alt="Alan Black"
          srcset="
            src/assets/masters-mob-img3@1x.jpg 418w,
            src/assets/masters-mob-img3@2x.jpg 836w
          "
          sizes="(min-width: 1280px) 370px, (min-width: 650px) 600px, 90vw"
          class="masters__card-img masters__card-img--3"
        />
        <p class="masters__card-name">Alan Black</p>
        <p class="masters__card-text">Extreme Barber</p>
        <ul class="masters__wrapper-card-svg">
          <li>
            <a class="masters__box-svg" href="#">
              <svg id="instagram " width="20" height="20">
                <use href="./src/assets/symbol-defs.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="masters__box-svg" href="#">
              <svg id="twitter" width="20" height="20">
                <use href="./src/assets/symbol-defs.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="masters__box-svg" href="#">
              <svg id="facebook" width="20" height="20">
                <use href="./src/assets/symbol-defs.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="masters__box-svg" href="#">
              <svg id="linkedin" width="20" height="20">
                <use href="./src/assets/symbol-defs.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
