<section class="registration" id="registration">
  <div class="container registration__container">
    <h2 class="registration__title">Онлайн-запись</h2>
    <form id="form-registration" class="registration__form">
      <div class="registration__wrpper-input">
        <label class="registration__lable">
          <input
            name="name"
            type="text"
            class="registration__input"
            placeholder="Имя*"
          />
        </label>
        <label class="registration__lable-phone">
          <input
            name="phone"
            type="text"
            class="registration__input"
            placeholder="Телефон*"
          />
        </label>
      </div>
      <textarea
        name="message"
        type="text"
        class="registration__input registration__textarea--message"
        placeholder="сообщение"
      ></textarea>

      <button class="cta-btn registration__btn">отправить</button>
    </form>
  </div>
</section>
