<section class="services-prices" id="services-prices">
  <div class="container services-prices__container">
    <div class="services-prices__wrapper-decor-bar-header">
      <div class="decor-bar services-prices__decor-bar"></div>
      <h2 class="services-prices__header">
        Проведи время в компании лучших мастеров
      </h2>
    </div>
    <h3 class="services-prices__title">Услуги и цены</h3>

    <div class="services-prices__wrapper-list">
      <ul class="services-prices__list services-prices__list--1">
        <li class="services-prices__item">
          <p class="services-prices__text">Мужская стрижка</p>
          <div class="services-prices__decor"></div>
          <p class="services-prices__price">от 300 грн.</p>
        </li>

        <li class="services-prices__item">
          <p class="services-prices__text">Стрижка бороды</p>
          <div class="services-prices__decor"></div>
          <p class="services-prices__price">от 200 грн.</p>
        </li>

        <li class="services-prices__item">
          <p class="services-prices__text">Стрижка усов</p>
          <div class="services-prices__decor"></div>
          <p class="services-prices__price">от 200 грн.</p>
        </li>

        <li class="services-prices__item">
          <p class="services-prices__text">Бритье опасной бритвой</p>
          <div class="services-prices__decor"></div>
          <p class="services-prices__price">от 200 грн.</p>
        </li>
      </ul>

      <ul class="services-prices__list services-prices__list--2">
        <li class="services-prices__item">
          <p class="services-prices__text">Cтрижка у стажера</p>
          <div class="services-prices__decor"></div>
          <p class="services-prices__price">от 50 грн.</p>
        </li>

        <li class="services-prices__item">
          <p class="services-prices__text">Стрижка под насадку</p>
          <div class="services-prices__decor"></div>
          <p class="services-prices__price">от 200 грн.</p>
        </li>

        <li class="services-prices__item">
          <p class="services-prices__text">Детская стрижка (до 12 лет)</p>
          <div class="services-prices__decor"></div>
          <p class="services-prices__price">от 300 грн.</p>
        </li>

        <li class="services-prices__item">
          <p class="services-prices__text">Камуфлирование седины</p>
          <div class="services-prices__decor"></div>
          <p class="services-prices__price">от 200 грн.</p>
        </li>
      </ul>
    </div>

    <div class="services-prices__btn-wrapper">
      <a href="#registration" class="cta-btn services-prices__btn"
        >онлайн-запись</a
      >
    </div>
  </div>
</section>
