<section class="why-we">
  <div class="container why-we__container">
    <div class="why-we__wrapper-header">
      <div class="why-we__wrapper-decor-bar-header">
        <div class="decor-bar why-we__decor-bar"></div>
        <h2 class="why-we__header">старая традиционная школа</h2>
      </div>
      <h3 class="why-we__title">Почему приходят именно к нам?</h3>
      <p class="why-we__text">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.
      </p>
    </div>
    <div class="why-we__wrapper-feature">
      <div class="why-we__wrapper-feature-left">
        <div class="why-we__feature">
          <span class="why-we__feature-num">600</span>
          <span class="why-we__feature-plus">+</span>
          <p class="why-we__feature-text">Довольных клиентов в день</p>
        </div>
        <div class="why-we__feature">
          <span class="why-we__feature-num">20</span>
          <span class="why-we__feature-plus">+</span>
          <p class="why-we__feature-text">Лучших мастеров Киева</p>
        </div>
      </div>
      <div class="why-we__wrapper-feature-right">
        <div class="why-we__feature">
          <span class="why-we__feature-num">50</span>
          <span class="why-we__feature-plus">+</span>
          <p class="why-we__feature-text">Наград за отличный сервис</p>
        </div>
        <div class="why-we__feature">
          <span class="why-we__feature-num">100</span>
          <span class="why-we__feature-plus">+</span>
          <p class="why-we__feature-text">Подарков постоянным клиентам</p>
        </div>
      </div>
    </div>
  </div>
</section>
